:root {
  --background-color: #041e37;
  --card-color: #f0699c;
  --text-color: #ffeaaa;
  --button-color: #f0699c;
  --button-shadow-color: #d95285;
}

* {
  font-family: 'Red Hat Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin-top: 5vh;
  
  background-color: var(--background-color);
}

button {
  background-color: var(--button-color);
  color: var(--text-color);
}

button#btn-new-book {
  margin-top: 5vh;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  justify-self: center;
  font-weight: bold;
  font-size: 18px;
}

#card-container {
  width:  80vw;
  height: 80vh;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  height: 200px;
  color: var(--text-color);
  text-align: center;
}

.modal {
  /*display: none;*/
  display: block; /* remove later */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--background-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--background-color);
  width: 80%; /* Could be more or less, depending on screen size */

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.close {
  color: var(--text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  grid-column: 2 / 3;
}

.modal-header {
  grid-column: 1 / 2;
  color: var(--text-color);
}

#form-new-book {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: var(--text-color);
}

#form-new-book label {
  grid-column: 1 / -1;
}

#form-new-book input {
  grid-column: 1 / -1;
}

#form-new-book fieldset {
  grid-column: 2 / 3;
  grid-row: 5 / 7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

#form-new-book label#label-pages {
  grid-column: 1 / 2;
}

#form-new-book input#pages {
  grid-column: 1 / 2;
}

#form-new-book fieldset input {
}

#form-new-book fieldset label {
}

#btn-new {
  grid-column: 1 / -1;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--button-color);
  justify-self: center;
  color: var(--text-color);
  font-size: 16px;
}
